/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Variables */
:root {
  --color-dark: #021526;
  --color-med: #03346E;
  --color-light: #6EACDA;
  --color-lightest: #E2E2B6;
  --color-white: #fff;

  --line-border-thin-light: .5px solid var(--color-lightest);
}

body {
  font-family: "Inconsolata", monospace;
  background-color: var(--color-dark);
  color: var(--color-lightest);
  text-align: center;
  line-height: 1;
  padding-top: 10rem;
}

body > :not(:last-child) {
  margin-bottom: 6rem;
}

.title {
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: .3rem;
  color: var(--color-light);
  text-transform: uppercase;
}

.time {
  font-size: 20rem;
  font-weight: 300;
}

.buttons {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 200;
  background-color: var(--color-light);
  color: var(--color-white);
  padding: 1.5rem 2.3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  background-color: var(--color-med);
}

.laps {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 3rem;

  list-style: none;
}

.lap {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: var(--line-border-thin-light);
}

.lap-heading {
  text-transform: uppercase;
  font-weight: 100;
  font-weight: 700;
  letter-spacing: 3px;
}

.lap-time {
  font-weight: 100;
}

@media (max-width: 950px) {
  .time {
    font-size: 15rem;
  }
}

@media (max-width: 700px) {
  .time {
    font-size: 12rem;
  }
}

@media (max-width: 550px) {
  .time {
    font-size: 8rem;
  }

  .title {
    font-size: 8rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 37.5%;
  }
  .btn {
    font-size: 2.5rem;
  }
}

@media (max-width: 250px) {
  html {
    font-size: 31.25%;
  }
}

@media (min-width: 1840px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 87.5%;
  }
}

::selection {
  color: var(--color-dark);
  background-color: var(--color-lightest);
}

.hidden {
  display: none;
}